DEBUG=True
SECRET_KEY=axanvo-inrrctrx-luwbl!o*_6-y!147ify7yu^a80s*plx06g8&us69p_)03drf
DATABASE_NAME=agronis
DATABASE_USER=agronis
DATABASE_PASSWORD=xxx0226e895ffd58yy6793b9cc0dhd2d51d52xxx

REDIS_URL=redis://redis:6379/1
CELERY_BROKER_URL=amqp://agronis:xxx0226e895ffd58yy6793b9cc0dhd2d51d52xxx@rabbitmq:5672/mq_vhost

RABBITMQ_DEFAULT_USER=agronis
RABBITMQ_DEFAULT_PASS=xxx0226e895ffd58yy6793b9cc0dhd2d51d52xxx
RABBITMQ_DEFAULT_VHOST=mq_vhost

POSTGRES_USER=agronis
POSTGRES_PASSWORD=xxx0226e895ffd58yy6793b9cc0dhd2d51d52xxx
POSTGRES_DB=agronis
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
